/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.mytag {
  color: rgba(0,0,0,0.8);
  background-color: #ddd;
  margin: 0 0.2em;
  padding: 0 0.5em 0.3em;
  border-radius: 10px;
  font-weight: normal;
  opacity: 0.8;

  &.tag-angular { background-color: #faa; }
  &.tag-async { background-color: #faa; }
  &.tag-bash { background-color: #aef; }
  &.tag-bootstrap { background-color: #c898ff; }
  &.tag-c { background-color: rgb(143, 168, 252); }
  &.tag-clojure { background-color: #ffa; }
  &.tag-cmd { background-color: #aef; }
  &.tag-ddd { background-color: rgb(255, 218, 170); }
  &.tag-devops { background-color: rgb(170, 252, 255); }
  &.tag-express { background-color: #5df8b0; }
  &.tag-git { background-color: #baf; }
  &.tag-github { background-color: #baf; }
  &.tag-gh-pages { background-color: #baf; }
  &.tag-javascript { background-color: #bcffa8; }
  &.tag-links { background-color: #ccf; }
  &.tag-linux { background-color: rgb(245, 197, 133); }
  &.tag-lisp { background-color: #aff; }
  &.tag-patterns { background-color: #fea; }
  &.tag-troubleshooting { background-color: #fbb; }
  &.tag-vue { background-color: #5df8b0; }
  &.tag-vuepress { background-color: #5df8b0; }
  &.tag-webapp { background-color: #fbb; }
  &.tag-windows { background-color: rgb(114, 187, 206); }

  &:hover {
    text-decoration: none !important;
    opacity: 1;
  }
}
